/*Selector Universal*/
*{
    padding: 0;
    margin: 0;
}
/*Selector id*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;
}

#encabezado {
    height: 15%;
    background-color: rgba(0, 128, 0, 0.692);
    margin: 1em auto;
}

#menu {
    height: 5%;
    background-color: white;
    margin: 1em auto;
}

#contenido {
    height: 70%;
    background-color: rgba(255, 0, 0, 0.573);
    margin: 0.5em;
    float: left;

}

#pie {
    height: 10%;
    text-align: center;
    background-color: peru;
    color: white;
    border-radius: 1em;
    margin: 1.5 em;
    width: 126ex;
}

/*Selector de class*/
.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    margin-left: 1em;
    margin-right: 1em;
}

.encabezado_articulo{
    text-align: center; 
    font-size:7ex; 
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagenes{
    display: inline;
    border: lpx solid #ddd;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    width: 100px;
}

/*Selector de etiqueta html*/

ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 3.5ex; 
    Color: white;
}